/* RESPONSIVE  */

@media all and (max-width:1100px) {
  /* le card diventano 4 per riga */
  main .content .row .col{
    width: calc(100% / 4);
  }
}

@media all and (max-width:700px) {
  /* le card dientano 2 per riga  */
  main .content .row .col{
    width: calc(100% / 2);
  }
}

@media all and (max-width:600px) {
  /* la sidebar diventa sottile */  
  .cta{
    width: calc(100% - var(--aside-slim));
  }
  
  aside{
    width: var(--aside-slim);
    padding: 0 10px;
  }

  aside .desktop{
    display: none;
  }

  aside .mobile{
    display: block;
  }
}