/* RESPONSIVE  */

@media all and (max-width:1100px) {
  /* le card diventano 4 per riga */
}

@media all and (max-width:700px) {
  /* le card dientano 2 per riga  */
}

@media all and (max-width:600px) {
  /* la sidebar diventa sottile */
  section{
    width: var(--slim-sidebar);
  }
  header{
    left: var(--slim-sidebar);
    width: calc(100% - var(--slim-sidebar));
  }
  main{
    margin-left: var(--slim-sidebar);
    width: calc(100% - var(--slim-sidebar));
  }
}