/* RESPONSIVE  */

@media all and (max-width:1100px) {
  /* le card diventano 4 per riga */
  main .row .col{
    width: calc(100% / 4);
  }
}

@media all and (max-width:700px) {
  /* le card dientano 2 per riga  */
  main .row .col{
    width: calc(100% / 2);
  }
}

@media all and (max-width:600px) {
  /* la sidebar diventa sottile */

  /* AL CAMBIO DELLA LARGHEZZA DELLA SIDEBAR VA CAMBIATO ANCHE L'HEADER E IL MAIN > WIDTH: CALC (100% - LARGHEZZA SIDEBAR) E MARGIN-LEFT: LARGHEZZA SIDEBAR  */
  
  header{
    width: calc(100% - var(--slim-sidebar));
  }
  main{
    margin-left: var(--slim-sidebar);
    width: calc(100% - var(--slim-sidebar));
  }
  section{
    width: var(--slim-sidebar);
  }

  section .desktop{
    display: none;
  }

  section .mobile{
    display: block;
  }
}