/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Tilt Warp', cursive;
}

:root {
  --header-height: 70px;
  --sidebar-width: 250px;
  --footer-height: 100px;
  --slim-sidebar: 50px
}

/* UTILS */
.debug{
  background-color: gray;
  border: 1px solid black;
}

/* HEADER  */

header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: var(--header-height);
  /* debug */
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}


/* SECTION  */
/* AL CAMBIO DELLA LARGHEZZA DELLA SIDEBAR VA CAMBIATO ANCHE L'HEADER E IL MAIN > WIDTH: CALC (100% - LARGHEZZA SIDEBAR) E MARGIN-LEFT: LARGHEZZA SIDEBAR  */

section{
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--footer-height));
  padding: 10px;
}

section i{
  font-size: 2rem;
}

/* MAIN  */

main{
  padding-top: var(--header-height);
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--footer-height));
  overflow-y: auto;
}

/* FOOTER  */

footer{
  height: var(--footer-height);
  width: 100%;
}

