/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--color-grigio);
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* UTILS */

:root {
  --cta-height: 70px;
  --aside-width: 250px;
  --player-height: 100px;
  --aside-slim: 50px;
  --color-grigio: #7d7f84;
  --color-green: #adff2f;
  --bar-height: 4px;
  --duration: 20%;
  --volume: 80%;
}

.debug{
  background-color: rgb(59, 59, 59);
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.flex-end{
  justify-content: flex-end;
}

.align-i-center{
  align-items: center;
}

.font-8{
  font-size: 0.8rem;
}

/* MAIN  */

.main-wrapper{
  height: 100vh;
}

.cta{
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  height: var(--cta-height);
  width: calc(100% - var(--aside-width));
  background-color: rgba(0, 0, 0, 0.5);
}

.cta .btn{
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 30px;
  margin: 0 30px;
}

.cta .btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

main{
  display: flex;
  height: calc(100% - var(--player-height));
}

/* ASIDE  */

aside{
  width: var(--aside-width);
  height: 100%;
  flex-shrink: 0;
  padding: 0 20px;
  background-color: black;
  color: var(--color-grigio);
  position: relative;
}


aside .desktop{
  display: block;
}

aside .mobile{
  display: none;
}

/**************DESKTOP****************/

aside .desktop .aside-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .desktop .image.logo{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
}

aside .desktop nav{
  margin-bottom: 1.5rem;
}

aside .desktop nav ul li{
  position: relative;
  /* PROBLEMA: allineare all'immagine */
}

aside .desktop nav ul li.active::before{
  content: "";
  background-color: var(--color-green);
  width: 2px;
  height: 1.4rem;
  position: absolute;
  bottom: 0;
  left: -20px;
}

aside .desktop nav ul li:hover a{
  color: white;
  cursor: pointer;
}

aside .desktop nav ul li *{
  display: inline-block;
}

aside .desktop nav ul li .image img{
  width: 20px;
}

aside .desktop nav ul li:first-child a{
  color: white;
}

aside .desktop .playlist h4{
  color: white;
  margin-bottom: 1rem;
}

aside .desktop .playlist .add:hover{
  color: white;
  cursor: pointer;
}

aside .desktop .playlist .add:hover span.plus{
  background-color: white;
  color: black;
  cursor: pointer;
}

aside .desktop .playlist span.plus{
  background-color: var(--color-grigio);
  color: black;
  font-size: 2rem;
  padding: 2px 9px;
}

aside .desktop .playlist span:last-child{
  /* PROBLEMA: allineare al + */
}

aside .desktop .item{
  margin-top: 1rem;
  height: calc(100vh - 500px);
  overflow-y: auto;
}

aside .desktop .item ul li{
  line-height: 2rem;
}

aside .desktop .item ul li:hover{
  color: white;
  cursor: pointer;
}

aside .desktop .text{
  width: calc(var(--aside-width) - 40px);
  position: absolute;
  bottom: 0;
  left: 20px;
  /* PROBLEMA: nascondere la playlist quando l'altezza della pagina diminuisce */
  /* SOLUZIONE GREZZA */
  background-color: black;
}

aside .desktop .text .image{
  display: inline-block;
  width: 20px;
}

aside .desktop .text span:first-of-type{
  /* PROBLEMA: allineare all'immagine */
}

aside .desktop .text span:first-of-type:hover{
  color: white;
  cursor: pointer;
}

aside .desktop .text .line{
  height: 2px;
  margin: 1rem 0;
  width: 100%;
  background-color: var(--color-grigio);
}

aside .desktop .text .image.user{
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 1px 4px;
  background-color: var(--color-grigio);
}

aside .desktop .text span:last-child{
  /* PROBLEMA: allineare all'immagine */
  font-weight: bold;
  line-height: 30px;
  color: white;
}

/**************MOBILE****************/

aside .mobile .image.logo{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

aside .mobile nav ul li .image img{
  width: 25px;
  margin-bottom: 5px;
}

aside .mobile .text{
  width: calc(var(--aside-slim) - 20px);
  position: absolute;
  bottom: 5px;
  left: 10px;
  /* PROBLEMA: nascondere la playlist quando l'altezza della pagina diminuisce */
  /* SOLUZIONE GREZZA */
  background-color: black;
}

aside .mobile .text .image{
  width: 20px;
}

aside .mobile .text .image.user{
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 1px 4px;
  background-color: var(--color-grigio);
}


/* CONTENT  */

.content{
  padding: 20px;
  padding-top: var(--cta-height);
  width: 100%;
  height: 100%;
  background-color: #141922;
  color: white;
  overflow-y: auto;
}

main .content nav{
  text-align: center;
  margin: 10px 0;
}

main .content nav ul{
  color: var(--color-grigio);
  font-weight: 800;
}

main .content nav ul li{
  position: relative;
  display: inline;
  margin: 0.5rem;
}

/* SUGGERIMENTO  */

main .content nav ul li.active::after{
  content: "";
  background-color: var(--color-green);
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);
}

main .content nav ul li:hover{
  color: white;
  cursor: pointer;
}

main .content h3{
  margin-top: 2rem ;
}

/* CARDS */

main .content .row{
  flex-wrap: wrap;
  margin-top: 1rem;
}

main .content .row .col{
  width: calc(100% / 6);
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 10px;
}

main .content .row .col .image{
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

main .content .row .col .image .overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

main .content .row .col .image .overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

main .content .row .col .image:hover .overlay{
  display: block;
  cursor: pointer;
}

main .content span{
  color: var(--color-grigio);
  font-size: 0.8rem;
}

main .content .row:last-of-type .col .image{
  border-radius: 50%;
  overflow: hidden;
}


/* PLAYER  */

.player{
  /* justify-content: space-between; */
  height: var(--player-height);
  width: 100%;
  background-color: #282828;
  padding: 10px;
}

.player .bar{
  height: var(--bar-height);
  border-radius: 4px;
  background-color: var(--color-grigio);
}

.player .little-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: var(--bar-height);
  border-radius: 4px;
  background-color: white;
}

.player .circle{
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: white;
}

/* SONG  */

.player .song{
  width: 30%;
  background-color: #282828;
}

.player .song *{
  margin-right: 5px;
}

.player .song .image{
  width: 50px;
  aspect-ratio: 1 / 1;
  /* PROBLEMA: la foto si rimpicciolisce  */
}

.player .song .title{
  flex-direction: column;
  justify-content: center;
}

.player .song .title span{
  color: var(--color-grigio);
}

.player .song .title span:hover{
  color: white;
  cursor: pointer;
}

.player .song i{
  color: var(--color-grigio);
}

.player .song i:hover{
  color: white;
  cursor: pointer;
}

/* PLAYBACK  */

.player .playback{
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.player .playback .icons{
  justify-content: center;
  margin-bottom: 1rem;
}

.player .playback .icons i{
  margin: 0 10px;
}

.player .playback .icons i:nth-child(3){
  font-size: 2rem;
}

.player .playback .icons i:nth-child(3):hover{
  transform: scale(1.25);
}

.player .playback .duration .time{
  font-size: 0.7rem;
}

.player .playback .duration .bar{
  position: relative;
  width: 30vw;
  margin: 0 10px;
}

.player .playback .duration .bar .little-bar{
  width: var(--duration);
}

.player .playback .duration .bar .circle{
  left: var(--duration);
}

.player .playback .duration .bar:hover .little-bar{
  background-color: var(--color-green);
}

.player .playback .duration .bar:hover .circle{
  display: block;
}

/* VOLUME  */

.player .volume{
  width: 30%;
}

.player .volume i{
  margin-right: 10px;
}

.player .volume .bar{
  position: relative;
  width: 8vw;
}

.player .volume .bar .little-bar{
  width: var(--volume);
}

.player .volume .bar .circle{
  left: var(--volume);
}

.player .volume .bar:hover .little-bar{
  background-color: var(--color-green);
}

.player .volume .bar:hover .circle{
  display: block;
}






